@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

// Colors
$dark-grey: #777777;
$light-grey: #EEEEEE;
$pure-white: #FFFFFF;
$muted-red: #DD3232;

// Font Stacks
$sans-stack: Source Sans Pro, sans-serif;
$cursive-stack: Abril Fatface, cursive;
$serif-stack: Roboto Slab, serif;

// Widths
$top-width: 700px;
$more-width: 45%;
$bonus-width: 28%;